:root {
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}


nav {
  position: relative;
  color: white;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 7rem;
}
nav > a, ul {
  color: white;
  text-decoration: none;
  list-style-type: none;
}
nav a {
  font-weight: bold;
}
nav ul {
  display: flex;
  gap: 4rem;
}

.title {
  position: absolute;
  left: 50%;
  bottom: 10%;
  z-index: 2;
  color: white;
  font-size: 3rem;
  transform: translate(-50%, 10%);
}

